**Exercise**

Using the commands we used with coffee.csv answer the questions/complete the actions below:
- How many different datatypes are there in the car insurance csv?
- Use describe and copy a screen of what the result is.
- How many unique DUIS are there in the dataset?
- How many unique values are stored in the dataset?
- What specific record is at index 369?
- Print the columns with annual mileage and children from index 234-245
- Sort the entire dataset by credit score in descending order.
- Sort by Education firstly and Income secondly
- The person in index has just been caught speeding again. Make his speeding violations 2.
- The person in 2233 may be having some kind of crisis. Change their vehicle type to a tank.
- Change the index in the dataframe to become the ID column

Begin by importing numpy and pandas

------

In [11]:
import numpy as np
import pandas as pd

insurance=pd.read_csv('Car_Insurance_Claim.csv')
insurance.head(4)

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1,after 2015,0,1,10238,12000.0,sedan,0,0,0,0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0,before 2015,0,0,10238,16000.0,sedan,0,0,0,1
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1,before 2015,0,0,10238,11000.0,sedan,0,0,0,0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1,before 2015,0,1,32765,11000.0,sedan,0,0,0,0

In [23]:
## How many different datatypes are there in the car insurance csv?

## You could us the below and get a tbale of each type, a small dataset is ok but if you want a summary then the .unique will introduce and array but not a count of
##insurance.info()

insurance.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [24]:
## Use describe and copy a screen of what the result is

insurance.describe

<bound method NDFrame.describe of           ID    AGE  GENDER      RACE DRIVING_EXPERIENCE    EDUCATION  \
0     569520    65+  female  majority               0-9y  high school
1     750365  16-25    male  majority               0-9y         none
2     199901  16-25  female  majority               0-9y  high school
3     478866  16-25    male  majority               0-9y   university
4     731664  26-39    male  majority             10-19y         none
...      ...    ...     ...       ...                ...          ...
9995  323164  26-39  female  majority             10-19y   university
9996  910346  26-39  female  majority             10-19y         none
9997  468409  26-39    male  majority               0-9y  high school
9998  903459  26-39  female  majority             10-19y  high school
9999  442696  26-39  female  majority               0-9y         none

             INCOME  CREDIT_SCORE  VEHICLE_OWNERSHIP VEHICLE_YEAR  MARRIED  \
0       upper class      0.629027                  1   after 2015        0
1           poverty      0.357757                  0  before 2015        0
2     working class      0.493146                  1  before 2015        0
3     working class      0.206013                  1  before 2015        0
4     working class      0.388366                  1  before 2015        0
...             ...           ...                ...          ...      ...
9995    upper class      0.582787                  1  before 2015        0
9996   middle class      0.522231                  1   after 2015        0
9997   middle class      0.470940                  1  before 2015        0
9998        poverty      0.364185                  0  before 2015        0
9999  working class      0.435225                  1  before 2015        1

      CHILDREN  POSTAL_CODE  ANNUAL_MILEAGE VEHICLE_TYPE  SPEEDING_VIOLATIONS  \
0            1        10238         12000.0        sedan                    0
1            0        10238         16000.0        sedan                    0
2            0        10238         11000.0        sedan                    0
3            1        32765         11000.0        sedan                    0
4            0        32765         12000.0        sedan                    2
...        ...          ...             ...          ...                  ...
9995         0        10238         16000.0        sedan                    0
9996         1        32765             NaN        sedan                    1
9997         1        10238         14000.0        sedan                    0
9998         1        10238         13000.0        sedan                    2
9999         1        10238         13000.0        sedan                    0

      DUIS  PAST_ACCIDENTS  OUTCOME
0        0               0        0
1        0               0        1
2        0               0        0
3        0               0        0
4        0               1        1
...    ...             ...      ...
9995     0               1        0
9996     0               0        0
9997     0               0        0
9998     0               1        1
9999     0               0        0

[10000 rows x 19 columns]>

In [28]:
## How many unique DUIS are there in the dataset?

insurance['DUIS'].unique()

array([0, 2, 1, 3, 4, 5, 6], dtype=int64)

In [31]:
## How many unique values are stored in the dataset?

insurance.nunique().sum()

19117

In [36]:
## What specific record is at index 369?

insurance.loc[369]

ID                          871263
AGE                            65+
GENDER                      female
RACE                      majority
DRIVING_EXPERIENCE          10-19y
EDUCATION               university
INCOME                 upper class
CREDIT_SCORE              0.583806
VEHICLE_OWNERSHIP                1
VEHICLE_YEAR            after 2015
MARRIED                          1
CHILDREN                         1
POSTAL_CODE                  10238
ANNUAL_MILEAGE             11000.0
VEHICLE_TYPE                 sedan
SPEEDING_VIOLATIONS              0
DUIS                             0
PAST_ACCIDENTS                   0
OUTCOME                          0
Name: 369, dtype: object

In [42]:
## Print the columns with annual mileage and children from index 234-245

insurance.loc[234:245, ["ANNUAL_MILEAGE", "CHILDREN"]]

     ANNUAL_MILEAGE  CHILDREN
234         15000.0         0
235         11000.0         1
236          9000.0         1
237         11000.0         1
238          7000.0         1
239          8000.0         1
240          8000.0         1
241         16000.0         0
242         17000.0         0
243         10000.0         1
244             NaN         0
245          7000.0         1

In [44]:
## Sort the entire dataset by credit score in descending order.

insurance.sort_values("CREDIT_SCORE",ascending=False)

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
8057,825288,40-64,male,majority,10-19y,university,upper class,0.960819,1,after 2015,0,1,10238,10000.0,sedan,1,0,1,0
4552,224416,26-39,female,majority,10-19y,high school,upper class,0.915883,1,after 2015,0,0,32765,8000.0,sedan,1,0,0,0
7816,618914,65+,female,majority,10-19y,university,upper class,0.914117,1,before 2015,1,1,10238,7000.0,sedan,0,0,0,0
5267,778054,40-64,female,majority,20-29y,university,upper class,0.896299,1,after 2015,1,1,10238,12000.0,sedan,1,0,1,0
8576,11655,26-39,female,majority,10-19y,high school,upper class,0.884410,1,after 2015,1,1,10238,10000.0,sedan,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9952,870405,40-64,female,majority,10-19y,university,upper class,NaN,1,after 2015,1,1,32765,5000.0,sedan,1,0,0,0
9967,27406,26-39,female,majority,10-19y,high school,middle class,NaN,0,before 2015,0,0,92101,13000.0,sedan,1,0,0,0
9981,366048,26-39,male,majority,0-9y,high school,working class,NaN,1,before 2015,0,1,10238,11000.0,sedan,0,0,0,0
9985,595418,16-25,male,minority,0-9y,high school,working class,NaN,1,before 2015,0,1,10238,11000.0,sedan,0,0,0,0
9988,479789,26-39,male,majority,10-19y,high school,poverty,NaN,0,before 2015,0,0,10238,NaN,sedan,1,0,2,1

In [45]:
## Sort by Education firstly and Income secondly

insurance.sort_values(by = ['EDUCATION', 'INCOME'])

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
14,980181,26-39,male,majority,10-19y,high school,middle class,0.461568,1,before 2015,1,1,10238,12000.0,sedan,0,2,1,0
21,912828,16-25,male,majority,0-9y,high school,middle class,0.553260,1,after 2015,1,1,32765,8000.0,sedan,0,0,0,1
26,98515,40-64,male,majority,10-19y,high school,middle class,0.626996,1,before 2015,0,0,10238,13000.0,sedan,1,1,0,0
30,642614,40-64,male,majority,20-29y,high school,middle class,0.521804,1,after 2015,1,1,92101,7000.0,sedan,2,0,1,0
34,146897,26-39,female,majority,0-9y,high school,middle class,0.604684,1,before 2015,1,1,21217,11000.0,sedan,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9870,914534,16-25,female,majority,0-9y,university,working class,NaN,1,after 2015,0,1,10238,13000.0,sedan,0,0,0,0
9908,920333,26-39,male,majority,10-19y,university,working class,0.368035,0,before 2015,1,0,10238,NaN,sedan,0,0,0,1
9931,61277,16-25,female,majority,0-9y,university,working class,0.459474,1,before 2015,0,1,10238,13000.0,sedan,0,0,0,1
9956,70825,26-39,male,majority,10-19y,university,working class,0.307399,1,before 2015,0,0,10238,14000.0,sedan,3,0,0,0
9964,456628,26-39,male,majority,10-19y,university,working class,0.491151,0,before 2015,0,1,10238,11000.0,sedan,2,0,1,1

In [57]:
## The person in index 8888 has just been caught speeding again. Make his speeding violations 2.

insurance.loc[8888, 'SPEEDING_VIOLATIONS'] = 2
insurance.to_csv('Car_Insurance_Claim.csv', index=False)

insurance.loc[8888, 'SPEEDING_VIOLATIONS']

2

In [60]:
## The person in 2233 may be having some kind of crisis. Change their vehicle type to a tank.
## IMPORTANT to know that this only updates the df (dataframe), not the csv file

insurance.loc[2233, 'VEHICLE_TYPE'] = 'tank'
insurance.to_csv('Car_Insurance_Claim.csv', index=False)

insurance.loc[8888, 'VEHICLE_TYPE']

'tank'

In [73]:
## Change the index in the dataframe to become the ID column

insurance.index=insurance["ID"]
display(insurance)

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
ID,,,,,,,,,,,,,,,,,,,
569520,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1,after 2015,0,1,10238,12000.0,sedan,0,0,0,0
750365,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0,before 2015,0,0,10238,16000.0,sedan,0,0,0,1
199901,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1,before 2015,0,0,10238,11000.0,sedan,0,0,0,0
478866,478866,16-25,male,majority,0-9y,university,working class,0.206013,1,before 2015,0,1,32765,11000.0,sedan,0,0,0,0
731664,731664,26-39,male,majority,10-19y,none,working class,0.388366,1,before 2015,0,0,32765,12000.0,sedan,2,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323164,323164,26-39,female,majority,10-19y,university,upper class,0.582787,1,before 2015,0,0,10238,16000.0,sedan,0,0,1,0
910346,910346,26-39,female,majority,10-19y,none,middle class,0.522231,1,after 2015,0,1,32765,NaN,sedan,1,0,0,0
468409,468409,26-39,male,majority,0-9y,high school,middle class,0.470940,1,before 2015,0,1,10238,14000.0,sedan,0,0,0,0
903459,903459,26-39,female,majority,10-19y,high school,poverty,0.364185,0,before 2015,0,1,10238,13000.0,sedan,2,0,1,1
442696,442696,26-39,female,majority,0-9y,none,working class,0.435225,1,before 2015,1,1,10238,13000.0,sedan,0,0,0,0