**Introduction**

 - Create a new folder in JuypterLite for Week Three
 - Import the bios.csv as the underlaying dataset
 - Now import the pandas library
   
------

In [1]:
## Import pandas library
import pandas as pd
bios = pd.read_csv('bios.csv')
print(bios)

<ipython-input-1-92b31b1a2afd>:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

        athlete_id                   name   born_date        born_city  \
0                1  Jean-François Blanchy  1886-12-12         Bordeaux
1                2         Arnaud Boetsch  1969-04-01           Meulan
2                3           Jean Borotra  1898-08-13         Biarritz
3                4        Jacques Brugnon  1895-05-11      Paris VIIIe
4                5           Albert Canet  1878-04-17       Wandsworth
...            ...                    ...         ...              ...
145495      149222      Polina Luchnikova  2002-01-30            Serov
145496      149223    Valeriya Merkusheva  1999-09-20  Moskva (Moscow)
145497      149224        Yuliya Smirnova  1998-05-08           Kotlas
145498      149225         André Foussard  1899-05-19            Niort
145499      149814          Bill Phillips  1913-07-15     Dulwich Hill

                 born_region born_country        NOC  height_cm  weight_kg  \
0                    Gironde          FRA     France        NaN        NaN
1                   Yvelines          FRA     France      183.0       76.0
2       Pyrénées-Atlantiques          FRA     France      183.0       76.0
3                      Paris          FRA     France      168.0       64.0
4                    England          GBR     France        NaN        NaN
...                      ...          ...        ...        ...        ...
145495            Sverdlovsk          RUS        ROC      167.0       61.0
145496                Moskva          RUS        ROC      168.0       65.0
145497           Arkhangelsk          RUS        ROC      163.0       55.0
145498           Deux-Sèvres          FRA     France      166.0        NaN
145499       New South Wales          AUS  Australia        NaN        NaN

         died_date
0       1960-10-02
1              NaN
2       1994-07-17
3       1978-03-20
4       1930-07-25
...            ...
145495         NaN
145496         NaN
145497         NaN
145498  1986-03-18
145499  2003-10-20

[145500 rows x 10 columns]

-------

**Using .columns in panda**

In pandas, bios.columns is an attribute that returns the labels of the columns in the DataFrame named bios.

*Key Points:*
 - Type: The output is a pandas Index object, which contains the names of the columns.
 - Usage: You can use it to inspect the column names, iterate through them, or manipulate them as needed.

*See the below and it basically returns the header of the cvs file*

----

In [2]:
## The .column in pands is not considered a "Function" it is an attribute of a dataframe
bios.columns

Index(['athlete_id', 'name', 'born_date', 'born_city', 'born_region',
       'born_country', 'NOC', 'height_cm', 'weight_kg', 'died_date'],
      dtype='object')

------

**Using the .tolist**

In the pandas library, bios.index.tolist() is used to convert the index of a DataFrame (or Series) named bios into a Python list.
Here's a breakdown of what each part does:

 - bios: This is a pandas DataFrame or Series.
 - index: This attribute retrieves the index (row labels) of the DataFrame or Series.
 - tolist(): This method converts the index (which is typically a pandas Index object) into a standard Python list.

So, bios.index.tolist() will give you a list containing all the row labels of the bios DataFrame or Series. This can be useful for further processing or for iterating through the index values.

------

In [ ]:
## 145500 row on the dataset

bios.index.tolist()

-------

**Using .info in pandas**

In pandas, the .info() method is used to get a concise summary of a DataFrame. When you call bios.info(), it provides useful information about the DataFrame, including:

 - Index Range: Shows the range of the index (e.g., RangeIndex: 100 entries, 0 to 99).
 - Columns: Lists the names of the columns, their data types, and the number of non-null values.
 - Data Types: Indicates the data type of each column (e.g., int64, float64, object).
 - Memory Usage: Displays the amount of memory used by the DataFrame.

This method is especially useful for quickly understanding the structure of your data, checking for missing values, and identifying data types. 

-------

In [ ]:
bios.info()

-----

**Using .stats in panda**

In pandas, there isn't a built-in .stats method. However, if you're looking for statistical summaries of a DataFrame, you might be thinking of the .describe() method.
''''
.describe()
''''

The .describe() method provides descriptive statistics for numeric columns in a DataFrame, including: 
- Count: Number of non-null values.
- Mean: Average of the values.
- Standard Deviation (std): Measure of the amount of variation or dispersion.
- Min: Minimum value.
- 25th Percentile (25%): First quartile.
- 50th Percentile (50%): Median.
- 75th Percentile (75%): Third quartile.
- Max: Maximum value.

------

In [ ]:
## Worth noting that .describe will only return INT or FLOAT, by adding (include='object') you can see the values that are STR
bios.describe (include='object')
#bios.describe()

----

**Using display in pandas**

Thsi will return the top and bottom 5 rows of the dataframe

--------

In [ ]:
display(bios)

--------

**Now moving into locating data using pandas, these can be seen as filter**

Show all the record that are over 215, in this case CMs
`````
bios.loc[bios['height_cm']>215]
`````
If you want only certain columns you include them after the record you want 
`````
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']]
`````
You can also go shorthand with
````
bios[bios['height_cm'] > 215, ['name', 'height_cm']]
````
You can filter on multiple values with the & 
``````
bios[(bios['height_cm'] > 215) & (bios['born_country']=='USA')]
``````
Filtering in objects (STR) isn't always that great
````
bios[bios['name'].str.contains('keith')] # Filter by string conditions. You'll see the results aren't great
````
A useful additional to the search above. Ignore the case used in the name. You'll see this has many more results than above.
`````
bios[bios['name'].str.contains('keith', case=False)]
`````


**<span style="color:red;"> Always make sure to use parentheses around each condition when combining them with & or | to avoid ambiguity. </span> **

-------

In [ ]:
bios[(bios['height_cm'] > 215) & (bios['born_country']=='USA')][['name', 'height_cm']]

------

**Regex expressions**

Regular Expressions (Regex) Regular Expression, or regex or regexp in short, is extremely and amazingly powerful in searching and manipulating text strings, particularly in processing text files. One line of regex can easily replace several dozen lines of programming codes.

**Special Regex Characters:** These characters have special meaning in regex (use the link): ., +, *, ?, ^, $, (, ), [, ], {, }, |, \.

Source
https://www3.ntu.edu.sg/home/ehchua/programming/howto/Regexe.html#:~:text=Regular%20Expressions%20(Regex),dozen%20lines%20of%20programming%20codes

-------

In [ ]:
## This time we are searching for Keith OR Patrick

bios[bios['name'].str.contains('keith|patrick', case=False)]

## OR Operator (|): E.g., the regex four|4 accepts strings "four" or "4". NB. This is only searching on the "name" column

In [ ]:
# Other useful regex filters
# Find athletes born in cities that start with a vowel:

vowel_cities = bios[bios['born_city'].str.contains(r'^[AEIOUaeiou]', na=False)]
vowel_cities

In [ ]:
# Find athletes with names that contain exactly two vowels:
two_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*$', na=False)]
two_vowels

--------

The r before the string in the regular expression (e.g., r'^[AEIOUaeiou]') indicates that it is a raw string in Python.

**Why use a raw string?**

**1. Escape Characters:** In regular strings, backslashes \ are used as escape characters. For example, \n represents a newline, and \t represents a tab. If you use a backslash in a regular expression, it can lead to confusion. By using a raw string, Python treats backslashes as literal characters and doesn't interpret them as escape sequences.

**2. Simplicity:** Raw strings make it easier to write regular expressions without worrying about escaping backslashes. For example, to match a backslash in a regex, you would normally write it as \ \ , but in a raw string, you can just use \ .

*Example*

 - Regular string: "\\d" matches a digit.
 - Raw string: r"\d" also matches a digit, but it's clearer because you don't have to double the backslash.
 - 
In your case, since there are no backslashes in the regex, using a raw string makes the expression easier to read and avoids potential confusion with escape characters.

-----

In [ ]:
# Find athletes with names that have repeated consecutive letters (e.g., "Aaron", "Emmett"):
#repeated_letters = bios[bios['name'].str.extract(r'(.)\1', na=False)]
#repeated_letters = bios[bios['name'].str.contains(r'([a-zA-Z])\1', na=False)]

#repeated_letters = bios[bios['name'].str.contains(r'(.)\1', na=False, regex=True)]


# Create a boolean mask using str.contains
mask = bios['name'].str.contains(r'(.)\1', na=False)

# Use the mask to filter the DataFrame
repeated_letters = bios[mask]
print(repeated_letters)

In [ ]:
# Find athletes with names ending in 'son' or 'sen'
son_sen_names = bios[bios['name'].str.contains(r'son$|sen$', case=False, na=False)]
print(son_sen_names['name'].tolist())

In [ ]:
# Find athletes with names that do not contain any vowels:
no_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*$', na=False)]
print(no_vowels['name'])

In [ ]:
# Find athletes whose names contain a hyphen or an apostrophe:
hyphen_apostrophe = bios[bios['name'].str.contains(r"[-']", na=False)]
print (hyphen_apostrophe['name'])

In [ ]:
# Find athletes with names that start and end with the same letter:
start_end_same = bios[bios['name'].str.contains(r'^(.).*\1$', na=False, case=False)]
print(start_end_same['name'])

In [ ]:
# Find athletes with a born_city that has exactly 7 characters:
city_seven_chars = bios[bios['born_city'].str.contains(r'^.{7}$', na=False)]
print (city_seven_chars [['name', 'born_city']])

In [ ]:
# Find athletes with names containing three or more vowels:
three_or_more_vowels = bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}', na=False)]
print (three_or_more_vowels['name'])

-------

**The below cells show two diufferent methods for the same results - Query Vs isin**

 - For simple membership checks on smaller datasets, isin() is often sufficient and fast.
 - For complex filtering conditions, especially on larger datasets, query() can provide better readability and potentially better performance.
 - When using query(), ensure proper data types are used for columns to optimise performance.
 - Consider using Parquet file format and column pruning for significant performance improvements when working with large datasets.
 - For distributed computing with libraries like Dask, be aware of potential performance issues with isin() on large filter lists and many partitions.

`````
var.isin()
var.query()
`````
-------

In [4]:
## isin method (e.g 3 countries) & startswith (e.g. Bob).  
bios[bios['born_country'].isin(["USA", "FRA", "GBR"]) & (bios['name'].str.startswith("Bob"))]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
3422,3434,Bobby Kelsey,1938-12-08,London,England,GBR,Great Britain,177.0,62.0,NaN
3513,3525,Bobby Wells,1961-05-15,London,England,GBR,Great Britain,193.0,91.0,NaN
4866,4884,Bob Purdie,1911-02-18,Glasgow,Scotland,GBR,New Zealand,NaN,NaN,1982-07-09
5745,5768,Bob Boozer,1937-04-26,Omaha,Nebraska,USA,United States,203.0,99.0,2012-05-19
6294,6323,Bob Jeangerard,1932-06-20,Evanston,Illinois,USA,United States,190.0,86.0,2014-07-05
...,...,...,...,...,...,...,...,...,...,...
124504,126809,Bob Willis,1987-03-15,Chicago,Illinois,USA,United States,193.0,80.0,NaN
126356,128708,Bobby Brown,1991-06-05,Denver,Colorado,USA,United States,188.0,82.0,NaN
135183,138328,Bobby Butler,1987-04-26,Marlborough,Massachusetts,USA,United States,183.0,86.0,NaN
135193,138340,Bobby Sanguinetti,1988-02-29,Trenton,New Jersey,USA,United States,188.0,86.0,NaN
144657,148353,Bobby Lammie,1997-02-10,Stranraer,Scotland,GBR,Great Britain,NaN,NaN,NaN

In [3]:
#The query function is similar to the filter methods above but is little used according to the tutorial I'm following.
bios.query('born_country == "USA" and born_city == "Seattle"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
11030,11088,David Halpern,1955-08-18,Seattle,Washington,USA,United States,178.0,79.0,NaN
12800,12870,Todd Trewin,1958-04-20,Seattle,Washington,USA,United States,180.0,75.0,NaN
15476,15583,Scott McKinley,1968-10-15,Seattle,Washington,USA,United States,183.0,75.0,NaN
29079,29293,Joyce Tanac,1950-09-27,Seattle,Washington,USA,United States,156.0,49.0,NaN
31135,31371,Bill Kuhlemeier,1908-01-14,Seattle,Washington,USA,United States,NaN,NaN,2001-07-08
...,...,...,...,...,...,...,...,...,...,...
133392,136331,Hans Struzyna,1989-03-31,Seattle,Washington,USA,United States,188.0,91.0,NaN
135448,138662,Maude Davis Crossland,2003-03-19,Seattle,Washington,USA,Colombia,NaN,NaN,NaN
136993,140229,Jenell Berhorst,2003-12-13,Seattle,Washington,USA,United States,NaN,NaN,NaN
143507,147159,Nevin Harrison,2002-06-02,Seattle,Washington,USA,United States,175.0,73.0,NaN
145446,149169,Corinne Stoddard,2001-08-15,Seattle,Washington,USA,United States,NaN,NaN,NaN