**Introduction**

 - Create a new folder in JuypterLite for Week Three
 - Import the bios.csv as the underlaying dataset
 - Now import the pandas library
   
------

In [2]:
## Import pandas library
import pandas as pd
bios = pd.read_csv('bios.csv')
print(bios)

<ipython-input-2-92b31b1a2afd>:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

        athlete_id                   name   born_date        born_city  \
0                1  Jean-François Blanchy  1886-12-12         Bordeaux
1                2         Arnaud Boetsch  1969-04-01           Meulan
2                3           Jean Borotra  1898-08-13         Biarritz
3                4        Jacques Brugnon  1895-05-11      Paris VIIIe
4                5           Albert Canet  1878-04-17       Wandsworth
...            ...                    ...         ...              ...
145495      149222      Polina Luchnikova  2002-01-30            Serov
145496      149223    Valeriya Merkusheva  1999-09-20  Moskva (Moscow)
145497      149224        Yuliya Smirnova  1998-05-08           Kotlas
145498      149225         André Foussard  1899-05-19            Niort
145499      149814          Bill Phillips  1913-07-15     Dulwich Hill

                 born_region born_country        NOC  height_cm  weight_kg  \
0                    Gironde          FRA     France        NaN        NaN
1                   Yvelines          FRA     France      183.0       76.0
2       Pyrénées-Atlantiques          FRA     France      183.0       76.0
3                      Paris          FRA     France      168.0       64.0
4                    England          GBR     France        NaN        NaN
...                      ...          ...        ...        ...        ...
145495            Sverdlovsk          RUS        ROC      167.0       61.0
145496                Moskva          RUS        ROC      168.0       65.0
145497           Arkhangelsk          RUS        ROC      163.0       55.0
145498           Deux-Sèvres          FRA     France      166.0        NaN
145499       New South Wales          AUS  Australia        NaN        NaN

         died_date
0       1960-10-02
1              NaN
2       1994-07-17
3       1978-03-20
4       1930-07-25
...            ...
145495         NaN
145496         NaN
145497         NaN
145498  1986-03-18
145499  2003-10-20

[145500 rows x 10 columns]

-------

**Using .columns in panda**

In pandas, bios.columns is an attribute that returns the labels of the columns in the DataFrame named bios.

*Key Points:*
 - Type: The output is a pandas Index object, which contains the names of the columns.
 - Usage: You can use it to inspect the column names, iterate through them, or manipulate them as needed.

*See the below and it basically returns the header of the cvs file*

----

In [3]:
## The .column in pands is not considered a "Function" it is an attribute of a dataframe
bios.columns

Index(['athlete_id', 'name', 'born_date', 'born_city', 'born_region',
       'born_country', 'NOC', 'height_cm', 'weight_kg', 'died_date'],
      dtype='object')

------

**Using the .tolist**

In the pandas library, bios.index.tolist() is used to convert the index of a DataFrame (or Series) named bios into a Python list.
Here's a breakdown of what each part does:

 - bios: This is a pandas DataFrame or Series.
 - index: This attribute retrieves the index (row labels) of the DataFrame or Series.
 - tolist(): This method converts the index (which is typically a pandas Index object) into a standard Python list.

So, bios.index.tolist() will give you a list containing all the row labels of the bios DataFrame or Series. This can be useful for further processing or for iterating through the index values.

------

In [4]:
## 145500 row on the dataset

bios.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

-------

**Using .info in pandas**

In pandas, the .info() method is used to get a concise summary of a DataFrame. When you call bios.info(), it provides useful information about the DataFrame, including:

 - Index Range: Shows the range of the index (e.g., RangeIndex: 100 entries, 0 to 99).
 - Columns: Lists the names of the columns, their data types, and the number of non-null values.
 - Data Types: Indicates the data type of each column (e.g., int64, float64, object).
 - Memory Usage: Displays the amount of memory used by the DataFrame.

This method is especially useful for quickly understanding the structure of your data, checking for missing values, and identifying data types. 

-------

In [5]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 7.2+ MB

-----

**Using .stats in panda**

In pandas, there isn't a built-in .stats method. However, if you're looking for statistical summaries of a DataFrame, you might be thinking of the .describe() method.
''''
.describe()
''''

The .describe() method provides descriptive statistics for numeric columns in a DataFrame, including: 
- Count: Number of non-null values.
- Mean: Average of the values.
- Standard Deviation (std): Measure of the amount of variation or dispersion.
- Min: Minimum value.
- 25th Percentile (25%): First quartile.
- 50th Percentile (50%): Median.
- 75th Percentile (75%): Third quartile.
- Max: Maximum value.

------

In [6]:
## Worth noting that .describe will only return INT or FLOAT, by adding (include='object') you can see the values that are STR
bios.describe (include='object')
#bios.describe()

,name,born_date,born_city,born_region,born_country,NOC,died_date
count,145500,143693,110908,110908,110908,145499,33940
unique,142780,41279,22368,2554,236,696,20009
top,Ivan Ivanov,1931-01-01,Budapest,England,USA,United States,2002-01-01
freq,13,63,1378,4824,9641,10114,47

----

**Using display in pandas**

Thsi will return the top and bottom 5 rows of the dataframe

--------

In [7]:
display(bios)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

--------

**Now moving into locating data using pandas, these can be seen as filter**

Show all the record that are over 215, in this case CMs
`````
bios.loc[bios['height_cm']>215]
`````
If you want only certain columns you include them after the record you want 
`````
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']]
`````
You can also go shorthand with
````
bios[bios['height_cm'] > 215, ['name', 'height_cm']]
````
You can filter on multiple values with the & 
``````
bios[(bios['height_cm'] > 215) & (bios['born_country']=='USA')]
``````
Filtering in objects (STR) isn't always that great
````
bios[bios['name'].str.contains('keith')] # Filter by string conditions. You'll see the results aren't great
````
A useful additional to the search above. Ignore the case used in the name. You'll see this has many more results than above.
`````
bios[bios['name'].str.contains('keith', case=False)]
`````


**<span style="color:red;"> Always make sure to use parentheses around each condition when combining them with & or | to avoid ambiguity. </span> **

-------

In [8]:
bios[(bios['height_cm'] > 215) & (bios['born_country']=='USA')][['name', 'height_cm']]

                    name  height_cm
5781      Tommy Burleson      223.0
6722    Shaquille O'Neal      216.0
6937      David Robinson      216.0
123850    Tyson Chandler      216.0

------

**Regex expressions**

Regular Expressions (Regex) Regular Expression, or regex or regexp in short, is extremely and amazingly powerful in searching and manipulating text strings, particularly in processing text files. One line of regex can easily replace several dozen lines of programming codes.

**Special Regex Characters:** These characters have special meaning in regex (use the link): ., +, *, ?, ^, $, (, ), [, ], {, }, |, \.

Source
https://www3.ntu.edu.sg/home/ehchua/programming/howto/Regexe.html#:~:text=Regular%20Expressions%20(Regex),dozen%20lines%20of%20programming%20codes

-------

In [9]:
## This time we are searching for Keith OR Patrick

bios[bios['name'].str.contains('keith|patrick', case=False)]

## OR Operator (|): E.g., the regex four|4 accepts strings "four" or "4". NB. This is only searching on the "name" column

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
119,120,Patrick Wheatley,1899-01-20,Vryheid,KwaZulu-Natal,RSA,Great Britain,NaN,NaN,1967-11-05
319,320,Patrick De Koning,1961-04-23,Dendermonde,Oost-Vlaanderen,BEL,Belgium,178.0,92.0,NaN
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
2115,2125,Patrick Jopp,1962-01-08,NaN,NaN,NaN,Switzerland,176.0,67.0,NaN
...,...,...,...,...,...,...,...,...,...,...
143975,147633,Patrick Chinyemba,2001-01-03,NaN,NaN,NaN,Zambia,NaN,NaN,NaN
144172,147850,Patrick Jakob,1996-10-17,Sankt Johann in Tirol,Tirol,AUT,Austria,NaN,NaN,NaN
144547,148239,Patrick Galbraith,1986-03-11,Haderslev,Syddanmark,DEN,Denmark,NaN,NaN,NaN
144565,148257,Patrick Russell,1993-01-04,Gentofte,Hovedstaden,DEN,Denmark,186.0,93.0,NaN
145435,149158,Patrick Gasienica,1998-11-28,McHenry,Illinois,USA,United States,NaN,NaN,2023-06-12

In [10]:
# Other useful regex filters
# Find athletes born in cities that start with a vowel:

vowel_cities = bios[bios['born_city'].str.contains(r'^[AEIOUaeiou]', na=False)]
vowel_cities

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
10,11,"Élie, Comte de Lastours",1874-08-12,Orgeval,Yvelines,FRA,France,NaN,NaN,1932-11-18
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
35,36,Étienne Thobois,1967-09-20,Amiens,Somme,FRA,France,186.0,78.0,NaN
40,41,Julie Bradbury,1967-02-12,Oxford,England,GBR,Great Britain,175.0,64.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145395,149118,Abbey Murphy,2002-04-14,Evergreen Park,Illinois,USA,United States,NaN,NaN,NaN
145398,149121,Grace Zumwinkle,1999-04-23,Excelsior,Minnesota,USA,United States,NaN,NaN,NaN
145405,149128,Brian Cooper,1993-11-01,Anchorage,Alaska,USA,United States,NaN,NaN,NaN
145418,149141,Nick Perbix,1998-06-15,Elk River,Minnesota,USA,United States,NaN,NaN,NaN
145427,149150,Jared Shumate,1999-03-06,Atlanta,Georgia,USA,United States,NaN,NaN,NaN

In [11]:
# Find athletes with names that contain exactly two vowels:
two_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*$', na=False)]
two_vowels

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
12,13,J. Defert,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN
30,31,André Prévost,1875-02-28,Paris VIIIe,Paris,FRA,France,NaN,NaN,1951-11-22
68,69,Sam Smith,1971-11-27,Epping,England,GBR,Great Britain,175.0,62.0,NaN
70,71,Ruth Winch,1870-08-25,Ryde,England,GBR,Great Britain,NaN,NaN,1952-01-09
73,74,Sky Andrew,1962-03-31,Newham,England,GBR,Great Britain,185.0,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145340,149062,A. J. Hurt,2000-12-05,Truckee,California,USA,United States,NaN,NaN,NaN
145349,149072,Kris Horn,1994-04-25,Weymouth,Massachusetts,USA,United States,NaN,NaN,NaN
145382,149105,Dylan Walczyk,1993-06-25,Rochester,New York,USA,United States,NaN,NaN,NaN
145452,149177,Radek Rýdl,2001-07-15,Jilemnice,Liberecký kraj,CZE,Czechia,NaN,NaN,NaN
145483,149210,Feng He,2004-03-31,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN

--------

The r before the string in the regular expression (e.g., r'^[AEIOUaeiou]') indicates that it is a raw string in Python.

**Why use a raw string?**

**1. Escape Characters:** In regular strings, backslashes \ are used as escape characters. For example, \n represents a newline, and \t represents a tab. If you use a backslash in a regular expression, it can lead to confusion. By using a raw string, Python treats backslashes as literal characters and doesn't interpret them as escape sequences.

**2. Simplicity:** Raw strings make it easier to write regular expressions without worrying about escaping backslashes. For example, to match a backslash in a regex, you would normally write it as \ \ , but in a raw string, you can just use \ .

*Example*

 - Regular string: "\\d" matches a digit.
 - Raw string: r"\d" also matches a digit, but it's clearer because you don't have to double the backslash.
 - 
In your case, since there are no backslashes in the regex, using a raw string makes the expression easier to read and avoids potential confusion with escape characters.

-----

In [12]:
# Find athletes with names that have repeated consecutive letters (e.g., "Aaron", "Emmett"):
#repeated_letters = bios[bios['name'].str.extract(r'(.)\1', na=False)]
#repeated_letters = bios[bios['name'].str.contains(r'([a-zA-Z])\1', na=False)]

#repeated_letters = bios[bios['name'].str.contains(r'(.)\1', na=False, regex=True)]


# Create a boolean mask using str.contains
mask = bios['name'].str.contains(r'(.)\1', na=False)

# Use the mask to filter the DataFrame
repeated_letters = bios[mask]
print(repeated_letters)

<ipython-input-12-d16247307561>:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = bios['name'].str.contains(r'(.)\1', na=False)

        athlete_id                  name   born_date          born_city  \
9               10    Guy de la Chapelle  1868-07-16  Farges-Allichamps
13              14        Étienne Durand         NaN                NaN
17              18  Jean-Philippe Gatien  1968-10-16               Alès
20              21         Pierre Hirsch  1900-11-08           Paris Ie
28              29       Albert Lippmann         NaN                NaN
...            ...                   ...         ...                ...
145474      149201     Nadine Hofstetter  1994-10-21             Romoos
145488      149215          Shakeel John  2001-07-30         Mount Hope
145491      149218         Matthew Wepke  1989-12-05                NaN
145498      149225        André Foussard  1899-05-19              Niort
145499      149814         Bill Phillips  1913-07-15       Dulwich Hill

            born_region born_country                  NOC  height_cm  \
9                  Cher          FRA               France        NaN
13                  NaN          NaN               France        NaN
17                 Gard          FRA               France      178.0
20                Paris          FRA               France        NaN
28                  NaN          NaN               France        NaN
...                 ...          ...                  ...        ...
145474           Luzern          SUI          Switzerland      164.0
145488  Tunapuna-Piarco          TTO  Trinidad and Tobago        NaN
145491              NaN          NaN              Jamaica        NaN
145498      Deux-Sèvres          FRA               France      166.0
145499  New South Wales          AUS            Australia        NaN

        weight_kg   died_date
9             NaN  1923-08-27
13            NaN         NaN
17           73.0         NaN
20            NaN  1942-04-19
28            NaN         NaN
...           ...         ...
145474       68.0         NaN
145488        NaN         NaN
145491        NaN         NaN
145498        NaN  1986-03-18
145499        NaN  2003-10-20

[38860 rows x 10 columns]

In [13]:
# Find athletes with names ending in 'son' or 'sen'
son_sen_names = bios[bios['name'].str.contains(r'son$|sen$', case=False, na=False)]
print(son_sen_names['name'].tolist())

['Helen Aitchison', 'Anne Gibson', 'Anders Nielsen', 'Julian Robertson', 'Chris Wilkinson', 'Kenneth Erichsen', 'Don Jackson', 'Erna Rahbek Pedersen', 'Herluf Andersen', 'Arne Jacobsen', 'Jan Jacobsen', 'Ole Gammelgaard Nielsen', 'Gillian Patterson', 'Lillias Robertson', 'Eileen Robinson', 'Alison Williamson', 'Lillian Wilson', 'Theodore Robinson', 'Leroy Watson', 'Guillermo Robson', 'Paul Stevenson', 'Marie Janssen', 'Jaimie Dawson', 'Elsa Nielsen', 'Árni Þór Hallgrímson', 'Broddi Kristjánsson', 'Jack Nielsen', 'Bent-Ove Pedersen', 'Richard Peterson', 'Rhona Robertson', 'Kerrin Harrison', 'Peter Jackson', 'Dale Andersen', 'Marv Arneson', 'Bryan Gibson', 'Chris Johnson', 'Kirk Johnson', 'Les Mason', 'Scotty Olson', 'Randall Thompson', 'Anita Kossen', 'Corrine Ockhuijsen', 'Nicole Richardson', 'Dot Richardson', 'Alecia Stephenson', 'Stuart Thompson', 'Teófilo Stevenson', 'Jens Andersen', 'Villy Bækgaard Andersen', 'Emil Andreasen', 'Gunnar Andreasen', 'Niels Bertelsen', 'Nick Clausen', 'Poul Frandsen', 'Kaj Frederiksen', 'Viggo Frederiksen', 'Hemming Hansen', 'Jørgen Hansen', 'Leif Hansen', 'Martin Hansen', 'Omar Hermansen', 'Carl Jensen', 'Einer Jensen', 'Erik Jensen', 'Jesper Jensen', 'Holger Jensen', 'Brian Johansen', 'Gotfred Johansen', 'Peter Jørgensen', 'Viktor Jørgensen', 'Poul Knudsen', 'Christian Kristensen', 'Christian Larsen', 'Robert Larsen', 'Ingvard Ludvigsen', 'Erik Madsen', 'Michael Madsen', 'Niels Madsen', 'Ricardt Madsen', 'Sigfred Madsen', 'Jakob Michaelsen', 'Achton Mikkelsen', 'Benny Nielsen', 'Brian Nielsen', 'Claus Børge Nielsen', 'Hans Nielsen', 'Harald Nielsen', 'Martin Olsen', 'Henrik Ottesen', 'Anders Petersen', 'Charles Petersen', 'Gerhard Pedersen', 'Hans-Erik Pedersen', 'Andreas Petersen', 'Hans Petersen', 'Søren Petersen', 'Thyge Petersen', 'Preben Rasmussen', 'Ole Svendsen', 'Svend Aage Sørensen', 'Esther Robertson', 'Egil Borgen Johansen', 'Robin Sampson', 'Jill Börresen', 'Lisa Andersson', 'Ylva Ivarsson', 'Maj-Britt Johansson', 'Carina Jonsson', 'Mikael Larsson', 'Magnus Petersson', 'Rolf Svensson', 'Ed Eliason', 'Butch Johnson', 'Louis Maxson', 'Henry Richardson', 'Will Thompson', 'Pernille Dupont Jensen', 'Amory Hansen', 'Ann Jørgensen', 'Grete Mogensen', 'Lotte Olsen', 'Rikke Olsen', 'Tine Scheuer-Larsen', 'Lisbet Stuer-Lauridsen', 'Marlene Thomsen', 'Kenneth Carlsen', 'Morten Christensen', 'Jens Eriksen', 'Ove Frederiksen', 'Victor Hansen', 'Jon Holst-Christensen', 'Poul-Erik Høyer Larsen', 'Christian Jakobsen', 'Erik Larsen', 'Aage Madsen', 'Jan Paulsen', 'Thomas Stuer-Lauridsen', 'Michael Tauson', 'Axel Thayssen', 'Esse Schybergson', 'Harry Kitson', 'John Richardson', 'Ivie Richardson', 'Catrine Bengtsson', 'Maria Bengtsson', 'Christine Magnusson', 'Pernilla Pettersson', 'Lily Strömberg-von Essen', 'Marie Svensson', 'Åsa Svensson', 'Olle Andersson', 'Jan-Eric Antonsson', 'Peter Axelsson', 'Magnus Gustafsson', 'Tomas Johansson', 'Pär-Gunnar Jönsson', 'Peter Karlsson', 'Magnus Larsson', 'Jens Olsson', 'Jörgen Persson', 'Zina Garrison', 'Charles Cresson', 'Paul Gleeson', 'Fred Sanderson', 'Åke Karlsson', 'Kurt Mattsson', 'Arto Nilsson', 'Eelco Jansen', 'Kris Benson', 'Charles Johnson', 'Craig Wilson', 'Fred Ingaldson', 'Alan Kristmanson', 'Roy Addison', 'Dave Anderson', 'William Cuthbertson', 'Alex Dickson', 'Adrian Carew-Dodson', 'Alf Jackson', 'Harry Johnson', 'Paul Lawson', 'Ron Rawson', 'Peter Richardson', 'Bill Robinson', 'Freddie Simpson', 'Tony Wilson', 'Stephen Wilson', 'Odartey Lawson', 'Bernard Wilson', 'George Allison', 'Brian Anderson', 'Rowan Donaldson', 'Clarence Robinson', 'Sylvain Rajefiarison', 'Kabil Lahsen', 'Basil Thompson', 'Ko Cornelissen', 'Leen Jansen', 'Anthony Richardson', 'Louis Meeuwessen', 'Rudolf Andreassen', 'Asbjørn Berg-Hansen', 'Edgar Christensen', 'Torbjørn Clausen', 'Olaf Hansen', 'Kaare Gundersen', 'Gunnar Hansen', 'Haakon Hansen', 'Leif Hansen', 'Rolf Jacobsen', 'Øivind Jensen', 'Evert Johanson', 'Jarl Johnsen', 'Jørn Johnson', 'Ole Klemetsen', 'Erling Nilsen', 'Kristoffer Nilsen', 'Olav Nilsen', 'Arthur Olsen', 'Arthur Olsen', 'Svein Erik Paulsen', 'Alf Pedersen', 'Einar Nilsen', 'David Jackson', 'Alan Jenkinson', 'Jamie Nicolson', 'Tammy Jackson', 'Angie Johnson', 'Lynn Polson', 'Juliene Simpson', 'Camille Thompson', 'Gord Aitchison', 'Al Allison', 'Willie Anderson', 'Peter Andersson', 'Ivan Bisson', 'Tommy Burleson', 'John Clawson', 'Ed Dawson', ' Adilson', 'Hervé Dubuisson', 'Burdie Haldorson', 'Lars Hansen', 'Jerome Henderson', 'Tom Henderson', 'Barry Howson', 'Bill Jackson', 'Luke Jackson', 'Tonny Jensen', 'Magic Johnson', 'Francis Johnson', 'Joon-Olof Karlsson', 'Alberto Marson', 'Alvin Robertson', 'Oscar Robertson', 'Bill Robinson', 'David Robinson', 'Jack Robinson', 'Tony Ronaldson', 'Marte Samson', 'Bobby Simpson', 'Greer Skousen', 'Duane Swanson', 'Jimmy Thordsen', 'Ray Tomlinson', 'Priit Tomson', ' Gilson', ' Gerson', 'Ian Watson', 'George Wilson', 'Jean Creusen', 'Louis Masson', 'Julien Van Muysen', 'Roy Johnson', 'Jannie Gibson', 'Ralph Knoesen', 'Alf Wilson', 'Max Hebeisen', 'Odd Bengtsson', 'Ulf Carlsson', 'Allan Carlsson', 'Sören Danielsson', 'Kjell Fredriksson', 'Harry Gunnarsson', 'Rolf Gustafsson', 'Selfrid Johansson', 'Ingemar Johansson', 'Roland Johansson', 'Emil Johansson', 'Tore Karlsson', 'Gunnar Nilsson', 'John Pettersson', 'Roger Pettersson', 'Kwamena Turkson', 'Rajabu Hussen', 'Veerapan Komolsen', 'Phajol Muangson', 'David Jackson', 'Bob Christopherson', 'Toby Gibson', 'Harry Henderson', 'Clint Jackson', 'Arthur Johnson', 'Eddie Johnson', 'Louis Johnson', 'Marvin Johnson', 'Danell Nicholson', 'Floyd Patterson', 'Al Robinson', 'Jackie Wilson', 'Ramon Andersson', 'Graham Johnson', 'Clint Robinson', 'Andrew Wilson', 'Tom Hodgson', 'Len Johnson', 'Bill Stevenson', 'Alan Thomson', 'Bill Williamson', 'Anni Werner-Hansen', 'Birthe Lindskov Hansen', 'Birgit Jensen', 'Jeanette Knudsen', 'Yvonne Knudsen', 'Kate Olsen', 'Susanne Sanggaard Petersen', 'Bodil Svendsen', 'Frederik Kobberup Andersen', 'Jørgen Andersen', 'Søren Boysen', 'Erik Christensen', 'Gerner Christiansen', 'Villy Christiansen', 'Knud Ditlevsen', 'Ejvind Hansen', 'Erik Hansen', 'Steen Lund Hansen', 'Henning Lynge Jakobsen', 'Bernhard Jensen', 'Preben Jensen', 'Erling Jessen', 'Hans-Viggo Knudsen', 'Alfred Christensen', 'Poul Larsen', 'Hans Christian Lassen', 'Lennart Mathiasen', 'Helge Nielsen', 'Thor Nielsen', 'Arne Nielsson', 'Finn Rasmussen', 'Axel Svendsen', 'Harry Sørensen', 'Helmuth Nyborg Sørensen', 'Jens Sørensen', 'John Rungsted Sørensen', 'Christian Frederiksen', 'Ture Axelsson', 'Birger Johansson', 'Evert Johansson', 'Béatrice Knopf-Basson', 'Franck Adisson', 'Angela Dawson', 'Sylvia Jackson', 'Lynn Simpson', 'Deborah Watson', 'Norman Dobson', 'Jack Henderson', 'Stephen Jackson', 'Eric Jamieson', 'Norman Mason', 'Neil Robson', 'David Upson', 'Alistair Wilson', 'Franz Johannsen', 'Ann Margarit Henningsen', 'Ingeborg Rasmussen', 'Tone Rasmussen', 'Harald Amundsen', 'Steinar Amundsen', 'Hans Martin Gulbrandsen', 'Morten Ivarsen', 'Ivar Iversen', 'Frank Johannesen', 'Jan Johansen', 'Per Johnsen', 'Ivar Mathisen', 'Harald Nilsen', 'Rolf Olsen', 'Einar Rasmussen', 'Ian Ferguson', 'Robert Jenkinson', 'Alan Thompson', 'Dene Simpson', 'Corran Addison', 'Agneta Andersson', 'Ingela Ericsson', 'Susanne Wiberg-Gunnarsson', 'Eva Karlsson', 'Liselotte Ohlson', 'Anna-Lisa Ohlsson', 'Anna Olsson', 'Karin Olsson', 'Ing-Marie Svensson', 'Anders Andersson', 'Bengt Andersson', 'Berndt Andersson', 'Ingemar Andersson', 'Lars Andersson', 'Per-Inge Bengtsson', 'Ove Emanuelsson', 'Gert Fredriksson', 'Sixten Jansson', 'Gunnar Johansson', 'Sven Johansson', 'Anders Larsson', 'Helge Larsson', 'Per Larsson', 'Paw Madsen', 'Håkan Mattsson', 'Hans Nilsson', 'Henrik Nilsson', 'Åke Nilsson', 'Thomas Ohlsson', 'Gunnar Olsson', 'Hans Olsson', 'Markus Oscarsson', 'Mattias Oscarsson', 'Rolf Peterson', 'Thorbjörn Thoresson', 'John Anderson', 'Adam Clawson', 'Eric Jackson', 'Michael Johnson', 'Stein Jorgensen', 'Mervil Larson', 'Angus Morrison', 'Ken Wilson', 'Jack Nelson', 'Linda Algotsson', 'Jane Bartle-Wilson', 'Malin Baryard-Johnsson', 'Maurice Lysen', 'Lisa Carlsen', 'Bonny Chesson', 'Else Christophersen', 'Phyllis Dawson', 'Jenny Eriksson', 'Michelle Gibson', 'Mary Gordon-Watson', 'Ulla Håkansson', 'Joanna Jackson', 'Tonny Jensen', 'Merethe Jensen', 'Diana Mason', 'Jessica Newberry-Ransehousen', 'Therese Olausson', 'Lone Kroman Petersen', 'Ulla Petersen', 'Vicky Thompson', 'Maud von Rosen', 'Diana Willson', 'Derek Allhusen', 'Hans Christian Andersen', 'John Anderson', 'Charles Anderson', 'Lars Andersson', 'Maurice Beatson', 'Rolf-Göran Bengtsson', 'Jean-Jacques Boisson', 'Erik Carlsen', 'Ernst Casparsson', 'Bruce Davidson', 'Richard Davison', 'Peter Eriksson', 'Peder Fredricson', 'Harry Freeman-Jackson', 'Max Fresson', 'Hank Frierson', 'Ragnar Gustafsson', 'Finn Hansen', 'Ove Hansen', 'Graeme Hansen', 'Bruce Hansen', 'Karl Hansen', 'Brian Herbinson', 'Nils Haagensen', 'Viktor Jansson', 'Bent Jensen', 'Arne Preben Jensen', 'Kristian Jensen', 'Peder Jensen', 'Jørgen Jensen', 'Börje Jeppson', 'Eugen Johansen', 'Hans Johansson', 'Fredrik Jönsson', 'Jan Jönsson', 'Herman Kristoffersson', 'Aksel Malling Mikkelsen', 'Jeppe Johannes Ladegaard-Mikkelsen', 'Niels Mikkelsen', 'Anders Mårtensson', 'Andrew Nicholson', 'Oscar Nilsson', 'Oskar Nilsson', 'Torben Ulsø Olsen', 'Ragnar Olson', 'Christian Persson', 'Gehnäll Persson', 'Lars Petersen', 'Michael Pettersson', 'Carlos Rawson', 'Peter Robeson', 'Aage Rubæk-Nielsen', 'Robert Stevenson', 'Sigurd Svensson', 'Sönke Sönksen', 'Eric Sörensen', 'Bunty Thompson', 'Morten Thomsen', 'Peter Thomsen', 'Earl Thomson', 'Hans Olof von Essen', 'Wilhelm von Essen', 'Hans von Rosen', 'John Watson', 'Harvey Wilson', 'Thomas Wilson', 'Morten Aasen', 'Astrid Danielsen', 'Mary Grigson', 'Linda Jackson', 'Unni Larsen', 'Jacqui Nelson', 'Helle Sørensen', 'Lesley Tomlinson', 'Anna Wilson', 'Anders Adamson', 'Owe Adamson', 'Christian Andersen', 'Erik Andersen', 'Gunnar Andersen', 'Henry Brask Andersen', 'Knud Andersen', 'Clóvis Anderson', 'Will Anderson', 'George Anderson', 'Gary Anderson', 'Karl-Ivar Andersson', 'Markus Andersson', 'Michael Andersson', 'Stig Andersson', 'Birger Andreassen', 'Hans Andresen', 'Thorleif Andresen', 'Ørnulf Andresen', 'Gunnar Asmussen', 'Lorne Atkinson', 'Frederik Bertelsen', 'John Bettison', 'Serge Blusson', 'John Carlsen', 'Allan Carlsson', 'Berndt Carlsson', 'Gösta Carlsson', 'Harald Christensen', 'Lorang Christiansen', 'Per Christiansson', 'Peter Clausen', 'Ahrensborg Clausen', 'Alan Danson', 'Colin Davidson', 'Merlyn Dawson', 'Colin Dickinson', 'Ingvar Ericsson', 'Jens Juul Eriksen', 'Kim Eriksen', 'Erik Pettersson', 'Gösta Pettersson', 'Sture Pettersson', 'Tomas Pettersson', 'Don Ferguson', 'Tord Filipsson', 'Mees Gerritsen', 'Roger Gilson', 'Sammy Goosen', 'Karl Gulbrandsen', 'Mats Gustafsson', 'Jan Erik Gustavsen', 'Gunnar Göransson', 'Axel Hornemann Hansen', 'Bent Hansen', 'Charles Hansen', 'Edmund Hansen', 'Flemming Gleerup Hansen', 'Helge Hansen', 'Henry Hansen', 'Ib Vagn Hansen', 'Jean Hansen', 'Jørgen Emil Hansen', 'Willy Falck Hansen', 'Anton Hansen', 'Karl Hansen', 'Pål Henning Hansen', 'Rolf Morgan Hansen', 'Andrew Hansson', 'Leif Hansson', 'Thomas Harrison', 'Derek Harrison', 'Keith Harrison', 'Greg Henderson', 'Paul Henrichsen', 'Jan Henriksen', 'Nils Henriksson', 'Preben Isaksson', 'Jan Georg Iversen', 'James Jackson', 'Alan Jackson', 'Harry Jackson', 'Allan Jacobsen', 'Helge Jacobsen', 'Knud Jacobsen', 'Ivar Jakobsen', 'Harrie Jansen', 'Jan Jansen', 'Jan Janssen', 'Erik Jansson', 'Jørgen Jensen', 'Lars Jensen', 'Mogens Frey Jensen', 'Otto Jensen', 'Ove Jensen', 'Palle Lykke Jensen', 'Knud Enemark Jensen', 'Christian Johansen', 'Arne Johansson', 'Bernt Johansson', 'Björn Johansson', 'Nils Johansson', 'Osvald Johansson', 'Sven Johansson', 'Lars Kristian Johnsen', 'Gordon Johnson', 'Tassy Johnson', 'Ernest Johnson', 'Thomas Johnson', 'Victor Johnson', 'Georg Johnsson', 'Peter Jonsson', 'Orla Jørgensen', 'Bent Jørgensen', 'Henning Jørgensen', 'Junker Jørgensen', 'Jørgen Jørgensen', 'Max Jørgensen', 'Per Sandahl Jørgensen', 'Per Sarto Jørgensen', 'Håkan Karlsson', 'Jan Karlsson', 'Werner Karlsson', 'Khem Son', 'Erik Kjeldsen', 'Knut Knudsen', 'Magnus Knutsson', 'Preben Lundgren Kristensen', 'Lennie Kristensen', 'Erling Kristiansen', 'Gustav Kristiansen', 'Stig Kristiansen', 'Grimon Langson', 'Allan Juel Larsen', 'Henning Larsen', 'Henning R. Larsen', 'Leif Larsen', 'Leo Larson', 'Håkan Larsson', 'Per Kærsgaard Laursen', 'Darren Lawson', 'Jimmi Madsen', 'Glenn Magnusson', 'Karl Magnussen', 'Jørgen Marcussen', 'Michael Markussen', 'Stig Mårtensson', 'Ragnvald Martinsen', 'Paul Masson', 'Lars Michaelsen', 'Jan Ingstrup-Mikkelsen', 'Børge Mortensen', 'Leif Mortensen', 'Harry Mussen', 'Danny Nelissen', 'Don Nelsen', 'Peter Nelson', 'John Nicholson', 'Bill Nickson', 'Børge Saxil Nielsen', 'Leo Nielsen', 'Hans Christian Nielsen', 'Klaus Kynde Nielsen', 'Michael Steen Nielsen', 'Peter Meinert Nielsen', 'Tommy Nielsen', 'Valdemar Nielsen', 'Valdemar C. Nielsen', 'Theo Nikkessen', 'Folke Nilsson', 'Kjell Nilsson', 'Sven-Åke Nilsson', 'Godtfred Olsen', 'Hans Olsen', 'Lars Olsen', 'Reno Olsen', 'Carl Olsen', 'Sid Patterson', 'Roel Paulissen', 'Arne-Werner Pedersen', 'Bent Pedersen', 'Jørgen Pedersen', 'Christian Pedersen', 'Ole Højlund Pedersen', 'Peder Pedersen', 'Per Pedersen', 'Arne Petersen', 'Atle Pedersen', 'Axel Wilhelm Persson', 'Jonas Persson', 'Roger Persson', 'Henning Petersen', 'Jan Bo Petersen', 'Arvid Pettersson', 'Hjalmar Pettersson', 'Pascal Poisson', 'Claus Rasmussen', 'Jørgen Frank Rasmussen', 'Rudolf Rasmussen', 'Leon Richardson', 'Scott Richardson', 'Phillip Richardson', 'David Robertson', 'Brian Robinson', 'Desmond Robinson', 'Ray Robinson', 'Dave Rollinson', 'Tom Simpson', 'Malcolm Simpson', 'Bjørn Stenersen', 'Karsten Stenersen', 'Clayton Stevenson', 'David Stevenson', 'James Stevenson', 'Kim Svendsen', 'Bjarne Sørensen', 'Eigil Sørensen', 'Frode Sørensen', 'Jens Sørensen', 'Poul Sørensen', 'Rolf Sørensen', 'Eric Thompson', 'Robert Thompson', 'Marc Thompson', 'Gary Thomson', 'Des Thomson', 'Richie Thomson', 'Marvin Thomson', 'John Thorsen', 'Van Son', 'André Vercruyssen', 'Wang Shusen', 'Dave Watson', 'George Watson', 'John Watson', 'Michael Watson', 'Anthony Williamsen', 'Donald Wilson', 'Michael Wilson', 'Clyde Wilson', 'Andy Wilson', 'John Wilson', 'Les Wilson', 'Benjamin Jamieson', 'Roberto Anderson', 'Eduardo Anderson', 'Jorge Wilson', 'Christine Dobson', 'Louise Dobson', 'Keith Leeson', 'James Mason', 'Ronald Wilson', 'Bruno De Clynsen', 'William Hansen', 'Kathryn Johnson', 'Candy Thomson', 'Derrick Anderson', 'William Anderson', 'Douglas Robinson', 'Hubert, Comte de Monbrison', 'David Robertson', 'Wilfrid Johnson', 'Gerald Mason', 'George Atkinson', 'Toby Rawlinson', 'Herbert Wilson', 'Frank Wilson', 'Adolf Stockhausen', 'Henk Janssen', 'Arvid Andersson', 'Erik Fredriksson', 'August Gustafsson', 'Carl-Emil Johansson', 'Emil Johansson', 'Knut Johansson', 'Carl Jonsson', 'Erik Larsson', 'Karl-Gottfrid Nilsson', 'John Watson', 'W. R. Gibson', 'Sid Johnson', 'Conrad Magnusson', 'Oscar Olsen', 'Bruce Macpherson', 'Erik Frandsen', 'Jesper Guldbrandsen', 'Eigil Hansen', 'Hans Jørgen Hansen', 'Robert Hansen', 'Robert Jensen', 'Torben Alstrup Jensen', 'Egon Johansen', 'Svend Jørgensen', 'Flemming Kristiansen', 'Willy Kristoffersen', 'Henry Larsen', 'Henry Madsen', 'Erling Nielsen', 'Jørgen Boye Nielsen', 'Poul Moll Nielsen', 'Villy Moll Nielsen', 'Vagn Pejtersen', 'Andreas Rasmussen', 'Henrik Sørensen', 'Mogens Thomassen', 'Hjalmar Thomsen', 'Kath Johnson', 'Mandy Nichols-Nicholson', 'Rhona Simpson', 'Jo Thompson', 'Basil Christensen', 'Steven Johnson', 'Timothy Lawson', 'Simon Mason', 'Hugh Neilson', 'Gordon Orchardson', 'Walter Peterson', 'Anthony Robinson', 'Franks Robinson', 'John Robinson', 'Norman Stevenson', 'Nicky Thompson', 'Cyril Wilkinson', 'Peter Wilson', 'Franz Diederichsen', 'Eliza Nelson', 'Pat Jansen', 'Mark Patterson', 'Dudley Coulson', 'Joseph Johnson', 'Mike Shepherdson', 'Marc Delissen', 'Emile Duson', 'Ronald Jansen', 'René Klaassen', 'Elaine Jensen', 'Cathy Thompson', 'Isobel Thompson', 'Scott Anderson', 'John Christensen', 'Noel Hobson', 'Scott Hobson', 'Tony Ineson', 'Chris Ineson', 'Reginald Johansson', 'Murray Mathieson', 'Ross McPherson', 'Alan Patterson', 'Keith Thomson', 'Robin Wilson', 'Murray Anderson', 'Craig Jackson', 'Jean‐Jacques Auberson', 'Sheryl Johnson', 'Chris Larson Mason', 'Steve Danielson', 'Claus Gerson', 'Alexis Thompson', 'William Wilson', 'Sonia Robertson', 'Linda Watson', 'Robert Robertson', 'Des Tomlinson', 'Mitzi Ferguson', 'Else Ahlmann-Ohlsen', 'Ulla Barding-Poulsen', 'Max Madsen', 'Grethe Olsen', 'Taimi Mattsson', 'Andrée Boisson', 'Amanda Ferguson', 'Rencia Nasson', 'Hanna Olsen', 'Robert Davidson', 'Jock Gibson', 'John Simpson', 'Alexandre Simonson', 'Benoît Giasson', 'Yang Shisen', 'Ole Albrechtsen', 'Erik Andersen', 'Aage Berntsen', 'Oluf Berntsen', 'Jens Ole Berthelsen', 'Jens Berthelsen', 'Torben Bjerre-Poulsen', 'Preben Christiansen', 'Svend Jacobsen', 'Frantz Oscar Jørgensen', 'Tage Jørgensen', 'Erik Kofoed-Hansen', 'Ejnar Levison', 'Ib Nielsen', 'Hans Olsen', 'Poul Rasmussen', 'Einar Schwarz-Nielsen', 'Viggo Stilling-Andersen', 'Erik Hammer Sørensen', 'Paul Theisen', 'Gaston Amson', 'François Brun-Buisson', 'Joseph, Marquis de Saint Brisson', 'Albert Hérisson', 'Henri Masson', 'Eugène Plisson', 'Robert Quennessen', 'Bob Anderson', 'Tim Belson', 'Percy Davson', 'Ray Harrison', 'Ted Hudson', 'Ralph Johnson', 'Alfred Syson', 'Charles Wilson', 'Hans Thomson', 'Julius Thomson', 'Stephan Thönnessen', 'Roger Theisen', 'Michiel Driessen', 'Alfred Eriksen', 'Bjarne Eriksen', 'Nils Jørgensen', 'Sigurd Mathiesen', 'John Hugo Pedersen', 'Göran Abrahamsson', 'Per Carleson', 'Bo Eriksson', 'Orvar Jönsson', 'Lars-Erik Larsson', 'Lennart Magnusson', 'Rolf Magnusson', 'Dicki Sörensen', 'Einar Sörensen', 'Carl von Essen', 'Pontus von Rosen', 'Philip Allison', 'Peter Lewison', 'Chauncey McPherson', 'Donald Thompson', 'Alan Davidson', 'Mike Petersen', ' Michael Jackson', ' Édson', ' Gérson', ' Nielsen', ' Jansen', 'Albert Johnson', 'Bruce Wilson', 'Miguel Simpson', 'Birgit Christensen', 'Helle Jensen', 'Dorthe Larsen', 'Annette Laursen', 'Bonny Madsen', 'Lene Madsen', 'Anne Nielsen', 'Christina Petersen', 'Merete Pedersen', 'Bernhard Andersen', 'Poul Andersen', 'Peter Frank Andersen', 'Marius Andersen', 'Poul Andersen', 'Søren Andersen', 'Svend Andresen', 'Hjalmar Christoffersen', 'John Danielsen', 'Henning Enoksen', 'Per Frandsen', 'Heino Hansen', 'Bent Hansen', 'Hans Hansen', 'Harald Hansen', 'Jack Hansen', 'Jens Peder Hansen', 'John Hansen', 'Jørgen Hansen', 'Karl Aage Hansen', 'Sophus Hansen', 'Viggo Jensen', 'Jacob Kjeldbjerg Jensen', 'Poul Jensen', 'Ivan Jensen', 'Jørgen Johansen', 'Viggo Jørgensen', 'Emil Jørgensen', 'Niels Christian Jørgensen', 'Kristen Nygaard Kristensen', 'Michael Larsen', 'Jacob Laursen', 'Jens Christian Madsen', 'Jens Madsen', 'Eigil Nielsen', 'Flemming Nielsen', 'Hans Christian Nielsen', 'Harald Nielsen', 'Lars Højer Nielsen', 'Oscar Nielsen', 'Poul Nielsen', 'Peter Møller Nielsen', 'Sophus Nielsen', 'Svend Nielsen', 'Alf Olsen', 'Anton Olsen', 'Flemming Pedersen', 'Poul Pedersen', 'Axel Petersen', 'Poul Erik Petersen', 'Poul Eyvind Petersen', 'Bjørn Rasmussen', 'Jørgen Rasmussen', 'Max Rasmussen', 'Allan Simonsen', 'Jørgen Leschly Sørensen', 'Jørn Sørensen', 'Erik Terkelsen', 'Mogens Therkildsen', 'Claus Thomsen', 'Axel Tufvesson', 'Tommy Troelsen', 'Erkki Gustafsson', 'François Brisson', 'George Atkinson', 'Ronnie Simpson', 'Tommy Thompson', 'Joseph Wilson', 'Julio Anderson', 'Armando Melgar Nelson', 'Billy Richardson', 'Zvi Rosen', 'Robert Theissen', 'Carlos Thompson', 'Anne Nymark Andersen', 'Nina Nymark Andersen', 'Agnete Carlsen', 'Marianne Pettersen', 'Tina Svensson', 'Per Egil Ahlsen', 'Arne Andersen', 'Gunnar Andersen', 'Nils Erikse

In [14]:
# Find athletes with names that do not contain any vowels:
no_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*$', na=False)]
print(no_vowels['name'])

3818              György Pál
3831            László Szűcs
5125                    Zézé
5764                    Bráz
6260             László Hódy
15165           Lê Văn Phươc
21621                   Céré
22252           Árpád Bárány
22367          László Széchy
25578            Kálmán Tóth
27325           Gündüz Kılıç
30192              Ödön Téry
31630                     SB
31975              Árpád Pál
33720            Lê Bả Thành
47828              Ödön Gróf
51321           Phạm Thị Phú
51333         Phạm Văn Thành
51334              Tô Văn Vệ
51337        Thương Ngọc Tơn
53757           György Bródy
53832            László Tóth
58134            László Bíró
58207           László Óváry
58239           Árpád Szántó
59919              Gürbüz Lü
60402            Phạm Văn Tý
61704             Pál Gömöry
70671             Mór Kóczán
78709           Trịnh Thị Bé
78713          Vũ Bích Hương
78715         Dương Đức Thủy
78721            Trần Văn Lý
79677                   Lévy
84255          László Csávás
94427                Pál Pók
104164         Đòàn Thị Cách
105554       Lê Văn Dương Lê
109905           Győző Török
110113                    Jô
113446          Vũ Thị Hương
115205         Mátyás Sáfrán
115995    Trần Thị Ngọc Trúc
116396    Đỗ Thị Ngân Thương
121963       Phạm Phước Hưng
122051               Lyn Byl
122463           Văn Ngọc Tú
129613             Hồ Thị Lý
Name: name, dtype: object

In [15]:
# Find athletes whose names contain a hyphen or an apostrophe:
hyphen_apostrophe = bios[bios['name'].str.contains(r"[-']", na=False)]
print (hyphen_apostrophe['name'])

0          Jean-François Blanchy
15        Adrien Fauchier-Magnan
17          Jean-Philippe Gatien
33        Jean-Pierre Samazeuilh
36          Pierre Verdé-Delisle
                   ...
145385       Ashley Cain-Gribble
145388            Jean-Luc Baker
145470              Lee Chae-Eun
145490               Sin Ye-Chan
145492     Carlos García-Ordóñez
Name: name, Length: 9139, dtype: object

In [16]:
# Find athletes with names that start and end with the same letter:
start_end_same = bios[bios['name'].str.contains(r'^(.).*\1$', na=False, case=False)]
print(start_end_same['name'])

<ipython-input-16-882b2d0a1f7f>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  start_end_same = bios[bios['name'].str.contains(r'^(.).*\1$', na=False, case=False)]

5            Nicolas Chatelain
121                Max Woosnam
164             Helen Amankwah
187              Ronald Agénor
210               Ilona Váradi
                  ...
145448     Aleksandra Glazkova
145450       Anna Shcherbakova
145463       Vladimir Tkachyov
145481    Vladislav Zharovtsev
145485            Radek Houser
Name: name, Length: 6697, dtype: object

In [17]:
# Find athletes with a born_city that has exactly 7 characters:
city_seven_chars = bios[bios['born_city'].str.contains(r'^.{7}$', na=False)]
print (city_seven_chars [['name', 'born_city']])

                           name born_city
10      Élie, Comte de Lastours   Orgeval
25                Henri Leconte   Lillers
41                Gillian Clark   Baghdad
47                   Sara Gomer   Torquay
48                Alison Gordon   Reading
...                         ...       ...
145446         Corinne Stoddard   Seattle
145454            Anna Hoffmann   Madison
145456          Sophie Sorschag   Villach
145459          Roberts Mamčics   Liepāja
145494            George Wright   Toronto

[16328 rows x 2 columns]

In [18]:
# Find athletes with names containing three or more vowels:
three_or_more_vowels = bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}', na=False)]
print (three_or_more_vowels['name'])

<ipython-input-18-8d9a1b85188c>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  three_or_more_vowels = bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}', na=False)]

0         Jean-François Blanchy
1                Arnaud Boetsch
2                  Jean Borotra
3               Jacques Brugnon
4                  Albert Canet
                  ...
145495        Polina Luchnikova
145496      Valeriya Merkusheva
145497          Yuliya Smirnova
145498           André Foussard
145499            Bill Phillips
Name: name, Length: 139323, dtype: object

-------

**The below cells show two diufferent methods for the same results - Query Vs isin**

 - For simple membership checks on smaller datasets, isin() is often sufficient and fast.
 - For complex filtering conditions, especially on larger datasets, query() can provide better readability and potentially better performance.
 - When using query(), ensure proper data types are used for columns to optimise performance.
 - Consider using Parquet file format and column pruning for significant performance improvements when working with large datasets.
 - For distributed computing with libraries like Dask, be aware of potential performance issues with isin() on large filter lists and many partitions.

`````
var.isin()
var.query()
`````
-------

In [19]:
## isin method (e.g 3 countries) & startswith (e.g. Bob).  
bios[bios['born_country'].isin(["USA", "FRA", "GBR"]) & (bios['name'].str.startswith("Bob"))]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
3422,3434,Bobby Kelsey,1938-12-08,London,England,GBR,Great Britain,177.0,62.0,NaN
3513,3525,Bobby Wells,1961-05-15,London,England,GBR,Great Britain,193.0,91.0,NaN
4866,4884,Bob Purdie,1911-02-18,Glasgow,Scotland,GBR,New Zealand,NaN,NaN,1982-07-09
5745,5768,Bob Boozer,1937-04-26,Omaha,Nebraska,USA,United States,203.0,99.0,2012-05-19
6294,6323,Bob Jeangerard,1932-06-20,Evanston,Illinois,USA,United States,190.0,86.0,2014-07-05
...,...,...,...,...,...,...,...,...,...,...
124504,126809,Bob Willis,1987-03-15,Chicago,Illinois,USA,United States,193.0,80.0,NaN
126356,128708,Bobby Brown,1991-06-05,Denver,Colorado,USA,United States,188.0,82.0,NaN
135183,138328,Bobby Butler,1987-04-26,Marlborough,Massachusetts,USA,United States,183.0,86.0,NaN
135193,138340,Bobby Sanguinetti,1988-02-29,Trenton,New Jersey,USA,United States,188.0,86.0,NaN
144657,148353,Bobby Lammie,1997-02-10,Stranraer,Scotland,GBR,Great Britain,NaN,NaN,NaN

In [20]:
#The query function is similar to the filter methods above but is little used according to the tutorial I'm following.
bios.query('born_country == "USA" and born_city == "Seattle"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
11030,11088,David Halpern,1955-08-18,Seattle,Washington,USA,United States,178.0,79.0,NaN
12800,12870,Todd Trewin,1958-04-20,Seattle,Washington,USA,United States,180.0,75.0,NaN
15476,15583,Scott McKinley,1968-10-15,Seattle,Washington,USA,United States,183.0,75.0,NaN
29079,29293,Joyce Tanac,1950-09-27,Seattle,Washington,USA,United States,156.0,49.0,NaN
31135,31371,Bill Kuhlemeier,1908-01-14,Seattle,Washington,USA,United States,NaN,NaN,2001-07-08
...,...,...,...,...,...,...,...,...,...,...
133392,136331,Hans Struzyna,1989-03-31,Seattle,Washington,USA,United States,188.0,91.0,NaN
135448,138662,Maude Davis Crossland,2003-03-19,Seattle,Washington,USA,Colombia,NaN,NaN,NaN
136993,140229,Jenell Berhorst,2003-12-13,Seattle,Washington,USA,United States,NaN,NaN,NaN
143507,147159,Nevin Harrison,2002-06-02,Seattle,Washington,USA,United States,175.0,73.0,NaN
145446,149169,Corinne Stoddard,2001-08-15,Seattle,Washington,USA,United States,NaN,NaN,NaN

-----

<H1>Start again with the Athlete Dataset
    
------

In [37]:
## This take the orgional variable and makes a copy into a new variable 

bios_new = bios.copy()

bios_new

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [38]:
## Create a new column. That columns is filled with a split of the full name where there is a space (e.g. George Carr), 
## what we want is the index of the first part of that split

bios_new['first_name'] = bios_new['name'].str.split(' ').str[0]
bios_new

## This is Text to Column is excel, difference is that the column appears at the end of the Data frame. The split is on the SPACE which is between the ' '

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Jean-François
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Arnaud
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Jean
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Jacques
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Albert
...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Polina
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Valeriya
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Yuliya
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,André
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Bill

In [41]:
## Add the last name by includeing the (-1) This uses str[-1] to select the last element from the split list, which corresponds to the last name. 
## If you want to capture all names except the last as the first name, you can use str[:-1] for that.

bios_new['last_name'] = bios_new['name'].str.split(' ').str[-1]
bios_new

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name,last_name
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Jean-François,Blanchy
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Arnaud,Boetsch
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Jean,Borotra
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Jacques,Brugnon
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Albert,Canet
...,...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Polina,Luchnikova
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Valeriya,Merkusheva
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Yuliya,Smirnova
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,André,Foussard
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Bill,Phillips

In [45]:
## A new column we are creating called 'born_datetime' = panda library convert to datatime, the column 'born_date'

bios_new['born_datetime'] = pd.to_datetime(bios_new['born_date'])
bios_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     145500 non-null  int64
 1   name           145500 non-null  object
 2   born_date      143693 non-null  object
 3   born_city      110908 non-null  object
 4   born_region    110908 non-null  object
 5   born_country   110908 non-null  object
 6   NOC            145499 non-null  object
 7   height_cm      106651 non-null  float64
 8   weight_kg      102070 non-null  float64
 9   died_date      33940 non-null   object
 10  first_name     145500 non-null  object
 11  last_name      145500 non-null  object
 12  born_datetime  143693 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 9.4+ MB

In [49]:
## This below is creating a new column born_year and filling it with the result of the datetime method year

bios_new['born_year'] = bios_new['born_datetime'].dt.year
bios_new[['name','born_year']]

## Worth noting the this is returned as a Float due to the time elemnet not being available, you can trim with this but the data type is still FLOAT
bios_new['born_year'] = bios_new['born_year'].astype('Int64')
bios_new[['name','born_year']]

                         name  born_year
0       Jean-François Blanchy       1886
1              Arnaud Boetsch       1969
2                Jean Borotra       1898
3             Jacques Brugnon       1895
4                Albert Canet       1878
...                       ...        ...
145495      Polina Luchnikova       2002
145496    Valeriya Merkusheva       1999
145497        Yuliya Smirnova       1998
145498         André Foussard       1899
145499          Bill Phillips       1913

[145500 rows x 2 columns]

In [53]:
bios_new['born_year'] = bios_new['born_datetime'].dt.year
bios_new

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name,last_name,born_datetime,born_year
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Jean-François,Blanchy,1886-12-12,1886.0
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Arnaud,Boetsch,1969-04-01,1969.0
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Jean,Borotra,1898-08-13,1898.0
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Jacques,Brugnon,1895-05-11,1895.0
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Albert,Canet,1878-04-17,1878.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN,Polina,Luchnikova,2002-01-30,2002.0
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN,Valeriya,Merkusheva,1999-09-20,1999.0
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN,Yuliya,Smirnova,1998-05-08,1998.0
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18,André,Foussard,1899-05-19,1899.0
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,Bill,Phillips,1913-07-15,1913.0

-------

Datetime is a complex topic.
Here’s the official documentation
https://pandas.pydata.org/docs/user_guide/timeseries.html

“pandas captures 4 general time related concepts:

- Date times: A specific date and time with timezone support. Similar to datetime.datetime from the standard library.
- Time deltas: An absolute time duration. Similar to datetime.timedelta from the standard library.
- Time spans: A span of time defined by a point in time and its associated frequency.
- Date offsets: A relative time duration that respects calendar arithmetic. Similar to dateutil.relativedelta.relativedelta from the dateutil package.“

As an alternative
DateTime in Pandas: An Uncomplicated Guide


Try some other dt methods to create new columns. Below is a link to month
https://www.geeksforgeeks.org/pandas-series-dt-month/
Huge hazard warning on this exploration. If the dataset you start with isn’t in datetime, depending on your source and how its initially formatted based on what region you are working with, it might have some odd results as America is attached to its bizarre mm/dd/yyyy format

as_type documentation to explore other datatype conversions
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html

---------

In [58]:
## Index false means we just don't save the index column we created when we opened the csv.

bios_new.to_csv('bios_new.csv', index=True)