# Week Three into Week Four

*TB was away for LEC with SLT*

**Introducing NumPy Library**

----------

In [2]:
## Import pandas and numpy libraries
import pandas as pd
import numpy as np
coffee = pd.read_csv('coffee.csv')
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [3]:
coffee['price'] = 4.99
display(coffee)

          Day Coffee Type  Units Sold  price
0      Monday    Espresso          25   4.99
1      Monday       Latte          15   4.99
2     Tuesday    Espresso          30   4.99
3     Tuesday       Latte          20   4.99
4   Wednesday    Espresso          35   4.99
5   Wednesday       Latte          25   4.99
6    Thursday    Espresso          40   4.99
7    Thursday       Latte          30   4.99
8      Friday    Espresso          45   4.99
9      Friday       Latte          35   4.99
10   Saturday    Espresso          45   4.99
11   Saturday       Latte          35   4.99
12     Sunday    Espresso          45   4.99
13     Sunday       Latte          35   4.99

In [4]:
#create a new column called new_price. Using the numpy method where, check coffee types where it is Espresso, IF so make it 3.99. ELSE make it 5.99
# NB. see the .np we are now using Numpy

coffee['new_price'] = np.where(coffee['Coffee Type']=='Espresso', 3.99, 5.99)
coffee

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       3.99
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99

------

# Powerful Hey

*“What if I wanted to change more than two conditions at once using where?”*
The method is boolean based so you can’t, or at least you can’t easily.
https://sparkbyexamples.com/python/numpy-where-multiple-conditions/

Take some time to experiment with the Numpy method where.
https://www.geeksforgeeks.org/numpy-where-in-python/

-------

*NumPy Example 1 - Usage of NumPy where()*

```
arr = np.array([5, 10, 15, 20, 25])
print("Given array:", arr)

# Get the indices of array elements
arr1=np.where(arr)
print("Get indices of given array:", arr1)
````

**Result**

Given array: [ 5 10 15 20 25]

Get indices of given array: (array([0, 1, 2, 3, 4], dtype=int32),)

In [5]:
arr = np.array([5, 10, 15, 20, 25])
print("Given array:", arr)

# Get the indices of array elements
arr1=np.where(arr)
print("Get indices of given array:", arr1)

Given array: [ 5 10 15 20 25]
Get indices of given array: (array([0, 1, 2, 3, 4], dtype=int64),)

------

*NumPy Example 2 - NumPy where() Multiple Conditions With the & Operator*
```
arr = np.array([5, 10, 15, 20, 25])

# Use numpy.where() multiple conditions with the & operator
arr2 = arr[np.where((arr >5) & (arr <25))]
print("Get selected array elements:", arr2)
````

**Result**

Get selected array elements: [10 15 20]

In [9]:
arr = np.array([5, 10, 15, 20, 25])

# Use numpy.where() multiple conditions with the & operator
arr2 = arr[np.where((arr >5) & (arr <25))]
print("Get selected array elements:", arr2)

Get selected array elements: [10 15 20]

<H2>Handling to Week Four</H2>

Handling NULL Values

In [8]:
# You can choose a value to fill nans yourself
coffeeFillExample = coffee.fillna(10000)
coffeeFillExample

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       3.99
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99