**Introduction**
- Create a new folder in JuypterLite for Week Two
- Import the coffee.csv as the underlaying dataset
- Now import the pandas library, and print it

In [1]:
## Import the pandas library, and then create a object/dataframe called coffee
import pandas as pd
coffee = pd.read_csv('coffee.csv')

## Interesting - using print(coffee), display(coffee)and coffee do the same thing but with slightly different output
## coffee
print(coffee)
## display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

---------------
**Info & Reading**

https://pbpython.com/pandas_dtypes.html

|Pandas dtype |Python type  |NumPy type                                                      |Usage |
|-------------|-------------|-----------------------                                         |------|
|object       |str or mixed |string_, unicode_, mixed types                                  |	Text or mixed numeric and non-numeric values|
|int64        |int          |int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64  |Integer numbers|
|float64      |float        |float_, float16, float32, float64                               |	Floating point numbers|
|bool         |bool         |bool_	|True/False values|
|datetime64   |NA           |datetime64[ns]	|Date and time values|
|timedelta[ns]|NA           |NA	|Differences between two datetimes|
|category	  |NA           |NA	|Finite list of text values|

https://stackoverflow.com/questions/34881079/pandas-distinction-between-str-and-object-types

----------------

In [20]:
## Examples
## Display column names, in the csv file there ar column headers
coffee.columns

Index(['Day', 'Coffee Type', 'Units Sold'], dtype='object')

In [21]:
## Index display, the index is the number of rows in the csv
coffee.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [22]:
## Dataframe information
## This give you the summary information about the data within the frame df
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   14 non-null     int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [23]:
## Key stats
## Interesting one, this gives you the stats from the datset. The 25,50,75% is the placing within the MIN and MAX
coffee.describe()

       Units Sold
count   14.000000
mean    32.857143
std      9.346798
min     15.000000
25%     26.250000
50%     35.000000
75%     38.750000
max     45.000000

In [24]:
## Not Unique
coffee.nunique()

Day            7
Coffee Type    2
Units Sold     7
dtype: int64

In [25]:
## Unique values in a column
coffee['Day'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [26]:
## Count of rows and columns
coffee.shape

(14, 3)

In [27]:
## Overall dimensions, this return the total count of the data values without the headers
coffee.size

42

-------
**Display Frame**

The three different ways to see a df (dataframe)
- coffee
- print(coffee)
- display(coffee)
By including a location to can return just certain values as well

`````
display(coffee.loc[3])
```````

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

-------

In [32]:
## Display frame
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [33]:
## display frame
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [38]:
## display frame
display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [40]:
## display frame
display(coffee.loc[3])

Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object

----------

**Random Selection & Samples**

Here are some code example for random stuff
`````
coffee.sample
coffee.sample(5)
coffee.dtypes
coffee.loc[0]    ##the [0] is the location vale
coffee.loc[[1,2,3]]
coffee.loc[5:9, ["Day", "Units Sold"]]
````````

---------

In [43]:
coffee.sample(5)

         Day Coffee Type  Units Sold
9     Friday       Latte          35
11  Saturday       Latte          35
13    Sunday       Latte          35
12    Sunday    Espresso          45
1     Monday       Latte          15

In [44]:
coffee.dtypes

Day            object
Coffee Type    object
Units Sold      int64
dtype: object

--------

**Using Locations - loc v's iloc**

*Advantages of loc*

- Allowed in cases like labeled-based indexing.
- It is easy to read and understand.
- It can be used with Boolean arrays to solve problems.
- Can be used on both single and multiple indexes. Disadvantages of loc Some of the disadvantages of loc are as follows:
- It can be low with large DataFrames.
- It uses unique indexes, but it may sometimes be different.

*Advantages of iloc*

- Allowed in cases like integer-based indexing.
- More effective for large DataFrames.
- It uses integer arrays to solve complex problems.
- Can be used on both single and multiple indexes. Disadvantages of iloc Some of the disadvantages of iloc are as follows:

It's hard to read and understand for new users. It can create problems if not updated regularly and lead to data misinterpretation. So we can say that it depends on the uses' needs. But in general, 'loc' is used for label-based indexing, and 'iloc' is used for integer-based indexing.

https://www.naukri.com/code360/library/difference-between-loc-and-iloc-in-panda

--------

In [46]:
coffee.loc[0]

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [47]:
## to return mulitiple locations you need [[
coffee.loc[[1,2,3]]

       Day Coffee Type  Units Sold
1   Monday       Latte          15
2  Tuesday    Espresso          30
3  Tuesday       Latte          20

In [49]:
## On the left are the row indexes from 5-9. On the right The filter method loc uses columns names as parameters
coffee.loc[5:9, ["Day", "Units Sold"]]

         Day  Units Sold
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45
9     Friday          35

In [51]:
coffee.index=coffee["Day"]
coffee.loc["Monday":"Wednesday"]

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25

-----------

**Sorting**

NB we are still in the same Notebook so we need to undo the Index Rest we completed above
`````
coffee = pd.read_csv('coffee.csv')
`````
*Further resources*
Use this resource to explore further sorting methods and spend time experimenting with this dataset. Some of the contents of this website will be useful for the exercises below.

https://www.geeksforgeeks.org/how-to-sort-pandas-dataframe/

-------

In [57]:
## This resets the index change we made above to be the days of the week. We're now using integers again
coffee = pd.read_csv('coffee.csv')

## This changes the values in the data frame from indexes 1-3 to become 10
coffee.loc[1:3, "Units Sold"] = 10 
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          10
2     Tuesday    Espresso          10
3     Tuesday       Latte          10
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [64]:
## Sort by units sold. It does this in asceding by default, to change add ascending=false which forces things in the other direction
## coffee.sort_values("Units Sold", ascending=False) 

coffee.sort_values("Units Sold")
## or reverse with 

##coffee.sort_values("Units Sold",ascending=False)

          Day Coffee Type  Units Sold
1      Monday       Latte          10
2     Tuesday    Espresso          10
3     Tuesday       Latte          10
0      Monday    Espresso          25
5   Wednesday       Latte          25
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

<H2>Handling to Week Four</H2>

Handling NULL Values

In [7]:
# You can choose a value to fill nans yourself
coffeeFillExample = coffee.fillna(10000)
coffeeFillExample

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [8]:
coffee.loc[[2,3], 'Units Sold'] = np.nan

NameError: name 'np' is not defined